body {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.inpucik {
  border: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  width: 60%;
  height: 16px;
  font-size: 16px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  height: 40px;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

#divek {
  text-align: center;
}
p {
  text-align: center;
}

#password-strength {
  margin-bottom: 10px;
}

#divek {
  color: #ff0000;
  font-weight: bold;
  margin-bottom: 10px;
}

section {
  margin-top: 20px;
  text-align: center;
}

#pass-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#pass-num {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 3rem;
  height: 1rem;
  font-size: 16px;
}

#btnpass {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btnpass:hover {
  background-color: #218838;
}

img {
  weight: 100px;
  height: 100px;
  margin: 0;
  animation: rotate 4s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#btncopy {
  display: none;
  margin: auto;
  background-color: #3f4040;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btncopy:hover {
  background-color: #233030;
}

#license {
  font-size: 6px;
  text-align: center;
  margin-top: 10px;
}

